.App {
  text-align: center;
  width: 100vw;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* My Styles Below */

.page__title {
  margin-bottom: 5vw;
}

.movies__display-boby {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
}

.movies__container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  width: 30vw;
}

.movies__box {
  width: 100%;
  border: 1px solid slategray;
  border-radius: 5px;
  height: 9vw;
  margin-bottom: 2vw;
  box-shadow: 2px 2px lightgray;
  position: relative;
}

.movies__box button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.movies__box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.movies__box div p {
  width: 50%;
}
